


<!-- views/partials/header.ejs -->

<nav class="cl-effect-1">
    <ul class="nav1">
        <li class="cap"><a href="/" target="_blank" >Home</a></li>
        <li><a href="/portfolio" target="_blank" >Services</a></li>
        <li><a href="/projects" target="_blank" >Projects</a></li>
        <li><a href="/about" target="_blank" >About</a></li>
        <li><a href="/contact" target="_blank" >Contact</a></li>
        <li><a href="/onepage" target="_blank">OnePage</a></li>
    </ul>
</nav>