<!-- views/partials/header.ejs -->

<nav class="cl-effect-1">
    <ul class="nav1">
        <li class="cap"><a href="#banner" class="act">Home</a></li>
        <li><a href="#portfolio" class="scroll">Services</a></li>
        <li><a href="#projects" class="scroll">Projects</a></li>
        <li><a href="#about" class="scroll">About</a></li>
        <li><a href="#contact" class="scroll">Contact</a></li>
        <li><a href="/" target="_blank">MultiPage</a></li>
    </ul>
</nav>