<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
   <div class="banner" style="min-height: 100%;">
  <div class="container">
  <div class="header">
                <div class="logo">
                    <a href="#">Aman Saggu</a><br/>
                    <span>Portfolio ShowCase</span>
                </div>
                <div class="logo-right">
                    <span class="menu"><img src="images/menu.png" alt=" "/></span>
                      
                    <% include ../partials/header %>

                </div>
                <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="about-info">
                <h3>Aman Saggu
                    <span>Hi, I am Aman Saggu.</span></h3>
                <p>I am a website designer based in Barrie, Ontario, Canada. I specialise in website design, graphic design  and animation. 
 I create beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly XHTML and CSS. All my websites are lovingly hand coded.
For building websites my weapons of choice are Photoshop and Fireworks for creating layouts, then Coda to produce clean semantic XHTML and CSS. I also use Flash for animations and sometimes full Flash sites. My CMS of choice are Expression Engine and Wordpress
</p>
                <div class="read1">
                    <a href="#contact" class="hvr-rectangle-out scroll">ME CONTACTER</a>
                </div>
            </div>
        </div>
    </div>
<!-- //about -->

    <% include ../partials/footer %>
    </body>
</html>