<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>

<!-- contact -->
    <div class="contact" id="contact">
        <div class="container">
            <h2>Contact</h2>
            <div class="contact-info">
                <ul>
                    <li class="first">
                        <div class="position">
                            <a href="#" class=" icon user"></a><input type="text" class="text" value="Votre nom" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Votre nom';}">
                            <div class="clear"></div>
                            <div class="dot">
                                <span> </span>
                            </div>
                        </div>
                    </li>
                    <li class="first">
                        <div class="position">
                            <a href="#" class=" icon email"></a><input type="text" class="text" value="Votre email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Votre email';}">
                            <div class="clear"></div>
                            <div class="dot">
                                <span> </span>
                            </div>
                        </div>
                    </li>
                    <div class="clearfix"> </div>
                    <li class="second">
                        <div class="position">
                            <a href="#" class=" icon msg"></a><textarea value="Votre message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Comments';}">Votre message</textarea>
                            <div class="clear"></div>
                            <div class="dot1">
                                <span> </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <input type="submit" onclick="myFunction()" value="ENVOYER">
            </div>
        </div>
    </div>
    </body>
    </html>