<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
<!-- portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <h2>Services</h2>
            <div class="portfolio-grids">
                <div class="col-md-6 portfolio-grid">   
                    <div class="portfolio-grid1">
                    <a href="images/1.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
                        <img class="one" src="images/1.jpg" alt=" " title="Science Laboratory" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="text-info">
                                    <h4>Forest App</h4>
                                    <p>application mobile</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                    </div>
                    <div class="portfolio-grid1">
                    <a href="images/4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
                        <img class="one" src="images/4.jpg" alt=" " title="Science Laboratory" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="text-info text-info1">
                                    <h4>Forest App</h4>
                                    <p>application mobile</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 portfolio-grid">
                    <div class="portfolio-grid1">
                    <a href="images/2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
                        <img class="one" src="images/2.jpg" alt=" " title="Science Laboratory" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="text-info text-info1 Forest">
                                    <h4>Forest App</h4>
                                    <p>application mobile</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                    </div>
                    <div class="portfolio-grid1">
                    <a href="images/3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
                        <img class="one" src="images/3.jpg" alt=" " title="Science Laboratory" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="text-info asd">
                                    <h4>Forest App</h4>
                                    <p>application mobile</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="css/swipebox.css">
    <script src="js/jquery.swipebox.min.js"></script> 
        <script type="text/javascript">
            jQuery(function($) {
                $(".swipebox").swipebox();
            });
        </script>
<!-- //portfolio -->
   </body>
</html>