<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
   <div class="banner" style="min-height: 100%;">
  <div class="container">
  <div class="header">
                <div class="logo">
                    <a href="#">Aman Saggu</a><br/>
                    <span>Portfolio ShowCase</span>
                </div>
                <div class="logo-right">
                    <span class="menu"><img src="images/menu.png" alt=" "/></span>
                      
                    <% include ../partials/header %>

                </div>
                <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="about-info">
                <h3>Aman Saggu
                    <span>Hi, I am Aman Saggu.</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="read1">
                    <a href="#contact" class="hvr-rectangle-out scroll">ME CONTACTER</a>
                </div>
            </div>
        </div>
    </div>
<!-- //about -->

    <% include ../partials/footer %>
    </body>
</html>